@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body { 
          font-family: 'Poppins', sans-serif; 
          background-color: black;
          color: #2d8eb9;
          text-align: center;
        }
        h1{
          color: #0a47a4;
          font-size: 3vh;
        }
        h2{
          color: #5d21ec;
          font-size: 2.5vh;
        }
        img {
          height: 30vh;
          width: 85vw;
          margin-left: 0.5vw;
          margin-top: 2vh;
          border-radius: 2vw;
        }
